@import '../../../App.scss';

.about {
    padding: 20px 0; 
    &__photo {
        margin: 10px 40px 40px 0;
        float: left;
        img {
            max-width: 19rem;
            height: auto;
            border-radius: 50%;
            filter: drop-shadow(1px 1px 10px $button-color);
        }
    }

    &__text {
        p {
            @extend .hyphens;
        }

        p:nth-child(1) {
            padding-bottom: 5px;
        }

        p:nth-child(2),
        p:nth-child(3),
        p:nth-child(4) {
            padding: 10px 0;
        }

        p:nth-child(5) {
            padding: 30px 0 5px;
            text-align: center;
            font-size: 1.375rem;
        }
    }
  
    &__contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        margin: auto;
        width: 60%;
        text-align: center;
        li {
            display: grid;
            grid-template-columns: repeat(1, 1fr); 
            i {
                padding-bottom: 10px;
                font-size: 3rem;
                color: $first-text-color;
            }

            a {
                margin: auto;
                padding: 5px 12px;
                border: 2px solid $first-text-color;
                border-radius: 15px;
                letter-spacing: 1px; 
                font-weight: bold;
                font-family: $main-font;
                font-size: 1.125rem;
                background-color: $button-color;
                color: $first-text-color;
                cursor: pointer;
                &:hover {
                    filter: drop-shadow(1px 1px 5px $button-color);
                    background-color: $button-hover;
                }
            }  
        }  
    }
}
  
@media only screen and (max-width: 1200px) {

    .about {
        display: flex;
        flex-direction: column;
        padding: 15px 0 20px;
        &__photo {
            order: 2;
            margin: 30px auto 15px auto;
        } 

        &__text {
            p:nth-child(5) {
                padding: 15px 0 5px;
                font-size: 1.25rem;
            }
        }

        &__contact {
            order: 2;
            width: 70%;
            li {
                i { 
                    font-size: 2.75rem;
                }

                a {
                    padding: 2px 8px;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    
    .about {
        &__photo {
            margin: 20px auto 12px auto;
        } 

        &__text {
            p:nth-child(2),
            p:nth-child(3),
            p:nth-child(4) {
                padding: 7px 0;
            }
        }

        &__contact  {
            width: 95%;
        }
    }
}
    
@media only screen and (max-width: 700px) {
    
    .about {
        margin: auto;
        padding: 10px 0 20px;
        width: 80%;
        &__photo {
            margin: 25px auto 10px auto;
        }   
        
        &__text p:nth-child(5) {
            padding: 10px 0 0;
            font-size: 1.125rem;
        } 

        &__contact li {
            i { 
                padding-bottom: 5px;
                font-size: 2.5rem;
            }

            a:hover {
                filter: none;
                background-color: $button-color;
                &:active {
                    color:$phone-hover;
                }
            }   
        }
    }
}
  
@media only screen and (max-width: 500px) {
    
    .about {
        width: 100%;
        &__photo {
            margin: 20px auto 5px auto;

        img {
            max-width: 17.5rem;
        }
    }
}
}
@media only screen and (max-width: 370px) {
    
    .about {
        &__contact li {
            margin: auto -10px;
            a {
                font-size: 0.9rem;
            }
        }
    }   
}