@import '../../../App.scss';

.projects {
    padding: 20px 0;
    ul:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(8, 1fr);  /* same sized column */
        margin: auto;
        li {
            margin-top: -10px;
            text-align: center;
            i {
                position: relative;
                top: 14px;
                font-size: 4.5rem;
                color: $first-text-color;
            } 
        }
    }

    ul:nth-child(3) {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        column-gap: 60px;
        row-gap: 30px; 
        margin: auto;
        padding-top: 20px;
        li {
            position: relative;
            border-bottom: 10px solid $button-color;	
            border-radius: 20px;
            text-align: center;
            font-size: 1.125rem;
            background-color: $background-color-third;
            h2 {
                margin-bottom: 15px;
                padding: 5px 0;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                text-shadow: 1px 1px gray, 1px 1px gray;
                font-weight: bold;
                font-size: 1.375rem;
                background-color: $button-color;
                color: $first-text-color;
            }

            h3 {
                margin: 0 20px 10px;
                text-shadow: 0px 1px gray, 0px 1px gray;
                font-weight: bold;
                font-size: 1.25rem;
                color: #7A0400;
            }

            p {
                @extend .hyphens;
                padding: 0 20px 10px;
                text-align: left;
                color: $second-text-color;
            }

            p:nth-child(6) {
                padding-bottom: 2px;
            }

            p:nth-child(7),
            p:nth-child(8) {
                position: absolute;
                bottom: 0;
                padding-bottom: 10px;
            }

            hr {
                margin: auto auto 10px; 
                width: 80%;
                border: 2px solid $main-hover;
                border-radius: 100%;
            }

            ul:nth-child(2) {
                grid-template-columns: none;
                margin: auto;
                padding-bottom: 10px;
                max-width: 300px;
                height: 260px;
                &:hover li {
                    transform: rotateY(180deg);
                }
    
                li {
                    position: relative;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    border: none;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    text-align: center;
                    .projects-flip-box {
                        position: absolute;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        cursor: pointer;
                        overflow: hidden;
                        border-radius: 10px;
                        border: 2px solid $button-color;
                        .projects-flip-box__badge {
                            position: absolute;
                            top: 30px;
                            right: -55px;
                            transform: rotate(45deg);
                            z-index: 1000;
                            padding: 5px 40px;
                            font-size: 0.75rem;
                            font-weight: bold;
                            letter-spacing: 1px;
                            background: $button-color;
                            color: $first-text-color;
                        }

                        img {
                            position: relative;
                            top: 14%;
                            max-width: 60%;
                        }
                    }
                
                    .projects-flip-box__back-site {
                        display: flex;
                        flex-direction: column;
                        z-index: 2; //pointer works properly on the back side
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        border: 2px solid $button-color;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                        font-size: 1.25rem;
                        font-weight: bold;
                        background-color: $background-color-fourth;
                        color:$first-text-color;
                        a:nth-child(1) {
                            margin: auto auto 2px;
                            padding: 5px 12px;
                            border: 2px solid $first-text-color;
                            border-radius: 15px;
                            cursor: pointer;
                            font-weight: bold;
                            font-family: $main-font;
                            font-size: 1.125rem;
                            background-color: $button-color;
                            color: $first-text-color;
                            &:hover {
                                filter: drop-shadow(1px 1px 5px $button-color);
                                background-color: $button-hover;
                            }
                        }
                
                        i:nth-child(2) {
                            margin-left: 3px;
                            font-size: 2.5rem;
                        }
                    
                        a:nth-child(3) {
                            margin: auto;
                            padding: 0 10px;
                            border: 2px solid $first-text-color;
                            border-radius: 10px;
                            font-size: 2rem;
                            background-color: $button-color;
                            color: $first-text-color;
                            &:hover {
                                filter: drop-shadow(1px 1px 5px $button-color);
                                background-color: $button-hover;
                            }
                        }
                    } 
                }   
            }
        }

        ul:nth-child(6),
        ul:nth-child(7) {
            padding: 0 20px 80px 40px;
            li {
                @extend .hyphens;
                padding-bottom: 5px;
                border: none;
                list-style: outside;
                text-align: left; 
            }
        }
    }
}

@media only screen and (max-width: 1600px) {

    .projects {
        ul:nth-child(2) {
            column-gap: 15px;
        }
    
        ul:nth-child(3) {
            grid-template-columns: repeat(2, 1fr); 
            column-gap: 48px;
            li ul:nth-child(2) {
                max-width: 350px;        
                li .projects-flip-box img {
                    top: 15%;
                    max-width: 50%;
                }
            }

            ul:nth-child(6),
            ul:nth-child(7) {
                padding: 0 20px 80px 40px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {

    .projects {
        padding: 15px 0 20px;
        ul:nth-child(2) {
            li {
                margin-top: -15px;
                i {
                    font-size: 4rem;
                }
            }
        }   

        ul:nth-child(3) {
            padding-top: 15px;
            li {
                font-size: 1rem; 
                h2 {
                    font-size: 1.25rem;
                }

                h3 {
                    margin: 0 20px 5px;
                    font-size: 1.125rem;
                }

                p {
                    padding: 0 20px 15px;
                    font-size: 1rem; 
                }

                hr {
                    margin: auto auto 5px; 
                }

                ul:nth-child(2) {
                    max-width: 290px;
                    height: 220px; 
                    li {
                        .projects-flip-box img {
                            top: 12%;
                            max-width: 55%;
                        }

                        .projects-flip-box__back-site {
                            a:nth-child(1) {
                                margin: auto auto -8px;
                            }
                        }
                    }  
                }
            }

            ul:nth-child(6),
            ul:nth-child(7) {
                padding: 0 20px 70px 39px;
            }

            ul:nth-child(6) li,
            ul:nth-child(7) li {
                font-size: 1rem; 
            }
        }
    }
}

@media only screen and (max-width: 1000px) {

    .projects {
        ul:nth-child(2) {
            grid-template-columns: repeat(4, 1fr);
        }
    
        ul:nth-child(3) {
            grid-template-columns: repeat(1, 1fr); 
            hr {
                width: 85%;
            }
            
            li ul:nth-child(2) {
                max-width: 365px;
                height: 210px; 
                li .projects-flip-box img {
                    top: 11%;
                    max-width: 42%;
                }
            }
            
            ul:nth-child(6),
            ul:nth-child(7) {
                padding: 0 20px 70px 40px;
            }
        }
    }
}

@media only screen and (max-width: 700px) {

    .projects {
        margin: auto;
        padding: 10px 0 20px;
        width: 80%;
        ul:nth-child(2) li {
            margin-top: -18px;
            i {
                font-size: 3.5rem;
            }
        }

        ul:nth-child(3) {
            row-gap: 25px;
            li {
                h2 {
                    font-size: 1.125rem;
                }

                h3 {
                    font-size: 1.063rem;
                }

                ul:nth-child(2) {
                    max-width: 330px;
                    li {
                        .projects-flip-box img {
                            top: 11%;
                            max-width: 48%;
                        }

                        .projects-flip-box__back-site {
                            a:nth-child(1) {
                                margin: auto auto -6px;
                                font-size: 1rem;
                            }
                    
                            a:nth-child(1),
                            a:nth-child(3) {
                                &:hover {
                                    filter: none;
                                    background-color: $button-color;
                                }

                                &:active {
                                    color:$phone-hover;
                                }  
                            }

                            i:nth-child(2) {
                                font-size: 2.3rem;      
                            }
                    
                            a:nth-child(3) {
                                font-size: 1.8rem;      
                            }
                        }
                    }
                }

                ul:nth-child(6),
                ul:nth-child(7) {
                    padding: 0 20px 70px 39px;
                    li {
                        font-size: 1rem;      
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    .projects {
        width: 100%;
        ul:nth-child(3) {
            width: 100%;
            li {
                p {
                    padding: 0 10px 10px;
                }
            
                ul:nth-child(6),
                ul:nth-child(7) {
                    padding: 0 10px 65px 29px;
                }
            }
        }
    }
}

@media only screen and (max-width: 390px) {

    .projects ul:nth-child(3) li {
        ul:nth-child(2) li {
            max-width: 265px;
            .projects-flip-box img {
                top: 12%;
                max-width: 58%;
            }
        }

        ul:nth-child(6),
        ul:nth-child(7) {
            padding: 0 10px 90px 29px;
        }
    }
}