$main-font: Georgia, 'Times New Roman', Times, serif;
$background-color-first: #1a0000;						
$background-color-second: #00021f;
$background-color-third: #CCCCCC;
$background-color-fourth: #3F3636;
$first-text-color: white;
$second-text-color: black;
$main-hover: #FF0700;
$button-hover: lightcoral;
$phone-hover: lightskyblue;
$button-color:#B30600;
$message-color: #FF6661;